* {
    margin:0;
    padding:0
} 
body {
    font-family: Coustard, serif;
    font-weight: 400;
    color: #ffffff;
    background: #000000;
}
.canvas-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100vw;
    height: 100vh;
    canvas {
        display: block;
    }
}
