* {
    margin:0;
    padding:0
} 
body {
    font-family: Coustard, serif;
    font-weight: 400;
    color: #ffffff;
    background: #000000;
}
.header {
    position: fixed;
    top: 50px;
    left: 50px;
    z-index: 10;
    font-size: 30px;
    font-weight: 900;
    color: #eeeeee;
    text-shadow: 0 2px 2px #000000
}
.header a {
    text-decoration: none;
    color: #eeeeee;
}
#canvas-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    canvas {
        display: block;
        pointer-events: none;
    }
}
.content {
    display: inline-flex;
    flex-flow: row nowrap;
    gap: 100px;
    padding: 200px;

    /* width: auto; */
}

/* item */
.item {
    font-family: Coustard, serif;
    text-decoration: none;
    color: #eeeeee;
}
.item a {
    text-decoration: none;
    color: #eeeeee;
}
.item h2 {
    font-weight: 900;
    color: #ffffff;
}
.item p {
    font-weight: 400;
    color: #cccccc;
}
.item:last-child {
    margin-right: 300px;
}
.item img {
    width: 30vw;
    height: 30vw;
    opacity: 0.1;
    cursor: pointer;
}
.single h1 {
    margin-bottom: 1em;
    font-size: 3em;
}
figure {
    display: flex;
    margin: 0 0 3em;
    gap: 50px;
}
figure+figure {
    flex-direction: row-reverse;
}
figure img {
    float: left;
    margin-right: 30px;
}
.single__content {
    margin: 50px auto;
    max-width: 1000px;
}
.single__content p {
    margin: 2em 0;
    line-height: 1.7;
    font-size: 1.1em;
}
.single__content a {
    color: #ffffff;
}
.single__top {
    width: 100%;
    height: 100vh;
    background-position: 50% 50%;
    background-size: cover;
}
.footer {
    display: flex;
    margin-top: 100px;
    padding-top: 10px;
    padding-bottom: 150px;
    font-size: 0.8em;
    border-top: 1px solid #cccccc;
}
.footer p+p {
    margin-left: auto;
    text-align-last: left;
}
.curtain {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: #949494;
    transform: translate(0,100%)
}
[data-barba-namespace] {
    position: absolute;
    top: 0;
}
