$color-primary: #edab77;
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
} 
body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #ffffff;
    background: #000000;
}
button {
    border: none;
    background-color: white;
    outline: none;
    cursor: pointer;
}
.canvas-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(#edab79, #f0a66d);
    canvas {
        display: block;
    }
}
.actions {
    position: fixed;
    top: -70px;
    left: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    button {
        width: 50px;
        height: 50px;
        font-size: 20px;
        font-weight: bold;
        border-radius: 50%;
        color: $color-primary;
    }
}
.loading {
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 100px;
    font-weight: bold;
    .percent {
        font-size: 120px;
    }
    .unit {
        margin-bottom: 10px;
    }
}
.bottom-bar {
    position: fixed;
    right: 16px;
    bottom: 16px;
    z-index: 99;
    button {
        margin-left: 10px;
        width: 36px;
        height: 36px;
        font-size: 16px;
        font-weight: bold;
        border-radius: 50%;
        color: $color-primary;
    }
}
.info {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 9999;
    display: none;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-top: 80px;
    width: 360px;
    height: 400px;
    border-radius: 30px;
    color:  #333333;
    background: white;
    opacity: 0;
    transform: translate(-50%, -50%);
    flex-direction: column;
    .logo {
        box-sizing: content-box;
        position: absolute;
        top: -80px;
        left: 50%;
        height: 160px;
        border: 10px solid #f8f8f8;
        border-radius: 50%;
        background-color: white;
        transform: translateX(-50%);
    }
    .title {
        font-size: 26px;
        font-weight: bold;
    }
    .author {
        margin-top: 10px;
        margin-bottom: 20px;
        font-weight: bold;
        color: #aaaaaa;
    }
    .sub-title {
        margin: 10px 0;
        font-weight: bold;
    }
    a {
        text-decoration: none;
        color: #349acd;
    }
    .close-info {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        padding-bottom: 5px;
        width: 60px;
        height: 60px;
        font-size: 36px;
        border: 4px solid #f8f8f8;
        border-radius: 50%;
        text-align: center;
        color: #cccccc;
        cursor: pointer;
    }
}
